#sidebar-primary {
    top: auto;
    background-color: #e0e1e2;
}

#sidebar-primary .item {
    color: #4e4e4e;
}

#sidebar-primary .bottom {
    max-width: 50px;
    position: absolute;
    bottom: 7%;
}

#sidebar-secondary {
    height: calc(100% - 50px) !important;
    top: auto;
    z-index: 10;
    padding-left: 50px;
    width: 400px
}

#sidebar-secondary .sidebar-header {
    padding: 20px;
    text-align: center;
}

#sidebar-secondary .sidebar-content {
    text-align: left;
}

.decision-icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(11, 60, 139);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    color: white;
    line-height: 30px;
    text-align: center;
}

.circle-icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(11, 60, 139);
    border-radius: 30px;
    color: white;
    line-height: 30px;
    text-align: center;
}

.join-icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(11, 60, 139);
    color: white;
    line-height: 30px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    text-align: center;
}

.while_end-icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(11, 60, 139);
    color: white;
    line-height: 30px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    text-align: center;
}

.fork-icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(11, 60, 139);
    color: white;
    line-height: 30px;
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    text-align: center;
}

.while-icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(11, 60, 139);
    color: white;
    line-height: 30px;
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    text-align: center;
}

.dynamicFork-icon {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(11, 60, 139);
    color: white;
    line-height: 30px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    text-align: center;
}

.default-icon{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(11, 60, 139);
    color: white;
    line-height: 30px;
    text-align: center;
}

.raw-icon{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(137, 141, 148);
    color: white;
    line-height: 30px;
    text-align: center;
}

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #fff;
    background-color: #e1e3e5;
    border: 1px solid #adb3b8;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #fff inset;
    white-space: nowrap;
}

